@page "/Whatyousee"

<h3>WhatYouSee</h3>

@if (GameStage == GameStage.None)
{
    <CascadingValue Value="@Game" >
        <GameOptions OptionsSet="ToggleGameOptions"></GameOptions>
    </CascadingValue>
}
else
{
    switch (GameStage)
    {
        case GameStage.Memorize:
            <CascadingValue Value="@Game" >
                <MemorisingScreen  PlayLevel="(_ => GameStage = GameStage.Guess)"></MemorisingScreen>
            </CascadingValue>
            break;

        case GameStage.Guess:

            <CascadingValue Value="@Game" >
                <PlayArea Completed="CheckFlag"></PlayArea>
            </CascadingValue>
            break;

        //not checked as yet
        case GameStage.LevelComplete:
            <CascadingValue Value="@Game.CurrentLevel">
                <LevelComplete NextLevel="NextLevel"></LevelComplete>
            </CascadingValue>
            break;

        //not checked as yet
        case GameStage.FailLevel:
            <CascadingValue Value="@Game.CurrentLevel">
                <LevelFailed ResetLevel="ResetLevel"></LevelFailed>
            </CascadingValue>
            break;

        //not checked as yet
        case GameStage.CompleteMode:
            <CascadingValue Value="@Game.GameSettings.Difficulty">
                <DifficultyComplete GameMenu="ResetGame"></DifficultyComplete>
            </CascadingValue>
            break;
    }
}
<button @onclick="ResetGame">Reset Game</button>

@code {

    public Game Game { get; set; } = new Game();

    public GameStage GameStage { get; set; } = GameStage.None;


    protected override Task OnInitializedAsync()
    {
       Game.GameSettings.RecallStyle = RecallStyle.Unordered;      
        return base.OnInitializedAsync();
    }

    void ResetGame()
    {
        Game.CurrentLevel = 0;
        GameStage = GameStage.None;
    }

    void ToggleGameOptions()
    {
        switch (GameStage)
        {
            case GameStage.None:
                NextLevel(true);
                break;
            default:
                GameStage = GameStage.None;
                break;
        }
        StateHasChanged();
    }

    void ResetLevel()
    {
        GameStage = GameStage.Memorize;
        SetTokens();
        StateHasChanged();
    }


    void NextLevel(bool status)
    {
        _ = status switch
        {
            true => Game.CurrentLevel++,
            false => Game.CurrentLevel--
        };
        GameStage = GameStage.Memorize;
        SetTokens();
    }


    void CheckFlag(bool success)
    {
        Game.TokensSelected = new List<Token>();
        if (success)
        {
            if (Game.CurrentLevel == Game.GameSettings.MaxLevel)
            {
                GameStage = GameStage.CompleteMode;
            }
            else
            {
                GameStage = GameStage.LevelComplete;
            }
        }
        else
        {
            GameStage = GameStage.FailLevel;

        }
        StateHasChanged();
    }

    void SetTokens()
    {
        Game.AllTokens = TokenHelper.ToMatchTokenList(Game.GameSettings.MaxTokens, TokenHelper.GetAllTokens());
        Game.TokensToRemember = TokenHelper.ToMatchTokenList(Game.CurrentLevel + 2, Game.AllTokens);
        Game.TokensToRemember = TokenHelper.ShuffleCollection(Game.TokensToRemember);
    }

}
